@import "../../../style/style";

.Button {
  background-color: $violet;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #fff;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;

  &.error {
    background-color: rgba(240, 87, 108, 1);
  }

  &.success {
    background-color: rgba(161, 240, 69, 1);
  }

  &.primary {
    background-color: #2884f6;
    color: #fff;
  }

  &:focus {
    outline: none;

  }

  &:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
  }

  &:disabled {
    background-color: #ccc;
    color: #000;
    cursor: not-allowed;
  }

}

.ButtonMain {
  box-shadow: 0 10px 14px -7px #276873;
  background-color: rgba( 0, 0, 0, .3);
  border: #000 solid 10px;
  cursor:pointer;
  color:#fff;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 30px;
  padding:19px 32px;
  text-decoration:none;
  animation: pulsing 3s infinite;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    transition: all .1s ease-in-out;

  }

  &:active,
  &:focus {
    outline: none;
    position:relative;
    background-color: rgba( 0, 0, 0, .3);
  }
}

@keyframes pulsing {
  0% {
    transform: scale(0.9, 0.9)
  }
  50% {
    transform: scale(1.0, 1.0);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

@media (max-width: $tablet-width) {
  .ButtonMain {
    font-size: 4vw;
    padding: 3vw 4vw;
    border: #000 solid 2vw;
  }
}