@import "../../../style/style";

.Button {
  background-color: $violet;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #fff;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;

  &.error {
    background-color: rgba(240, 87, 108, 1);
  }

  &.success {
    background-color: rgba(161, 240, 69, 1);
  }

  &.primary {
    background-color: #2884f6;
    color: #fff;
  }

  &:focus {
    outline: none;

  }

  &:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
  }

  &:disabled {
    background-color: #ccc;
    color: #000;
    cursor: not-allowed;
  }

}

.ButtonMain {
  box-shadow: 0 10px 14px -7px #276873;
  background: #599bb3 linear-gradient(to bottom, $yellow 5%, $orange 100%);
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Verdana, serif;
  font-size:20px;
  font-weight:bold;
  padding:19px 32px;
  text-decoration:none;

  &:hover {
    background: #408c99 linear-gradient(to bottom, $orange 5%, $yellow 100%);
  }

  &:active,
  &:focus {
    outline: none;
    position:relative;
    top:1px;
  }
}