@import "../../../style/style";

.Button {
  background-color: $finished-button-color;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid $white-gray;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: $white;
  margin: 10px 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background-color: lighten($finished-button-color, 7%);
    transition: all .1s ease-in-out;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 2px 2px 1px $black-opacity-30;
    background-color: darken($finished-button-color, 3%);
  }

  &:disabled {
    background-color: $white-gray;
    color: $black;
    cursor: not-allowed;
  }

}

.ButtonMain {
  box-shadow: 3px 5px 13px 0 $gray, 3px 5px 13px 0 $gray inset;
  background-color: $black-opacity-40;
  border: $cascade solid 10px;
  border-radius: 2px;
  cursor: pointer;
  color: $ice-cold;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 30px;
  padding:19px 32px;
  text-decoration:none;
  animation: pulsing 3s infinite;

  &:hover {
    background-color: $white-opacity-30;
    color: $black;
    transition: all .1s ease-in-out;
  }

  &:active,
  &:focus {
    outline: none;
    position:relative;
    background-color: $black-opacity-30;
  }
}

@keyframes pulsing {
  0% {
    transform: scale(0.9, 0.9)
  }
  50% {
    transform: scale(1.0, 1.0);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

@media (max-width: $tablet-width) {
  .ButtonMain {
    font-size: 4vw;
    padding: 3vw 4vw;
    border-width: 2vw;
  }

  .Button {
    font-size: 2.5vw;
    padding: 2vw 3vw;
  }
}