@import   "../../../style/style";

.Footer {
  flex-shrink: 0;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
}

@media (max-width: $resize-width) {
  .Footer {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .version {
      display: none;
    }

    .link {
      white-space: nowrap;
    }
  }
}

@media (max-width: 500px) {
  .author {
    font-size: 5vw;
  }
}