@import "../../style/style";

.Welcome {
  flex-grow: 1;
  display: grid;
  grid-template: 1fr fit-content(100%) 2fr fit-content(100%) 4fr fit-content(100%)/ 1fr;
  grid-template-areas:  "."
                        "title"
                        "."
                        "button"
                        "."
                        "footer";

  h1 {
    grid-area: title;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Rubik Mono One', sans-serif;
    color: black;
    font-size: 47px;
    border: #000 solid 10px;
  }

  a {
    grid-area: button;
    margin: 0 auto;
  }
}

@media (max-width: $resize-width) {
  .Welcome {
    h1 {
      font-size: 42px;
    }
  }
}
