@import "../../style/style";

.Welcome {

  flex: 1 0 auto;
  display: grid;
  grid-template: 1fr fit-content(100%) 2fr fit-content(100%) 4fr/ 1fr;
  grid-template-areas:  "."
                        "title"
                        "."
                        "button"
                        ".";

  h1 {
    grid-area: title;
    white-space: nowrap;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Rubik Mono One', sans-serif;
    color: $ice-cold;
    background-color: $welcome-bg-color;
    font-size: 47px;
    text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.42);
    border: $cerulean solid 10px;
    border-radius: 2px;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.4), 4px 4px 4px 3px rgba(0, 0, 0, 0.4) inset;
  }

  a {
    grid-area: button;
    margin: 0 auto;
  }
}

@media (max-width: $resize-width) {
  .Welcome {
    h1 {
      font-size: 4.5vw;
    }
  }
}
