@import '../../style/style';

.ActiveQuiz {
  @extend %quiz-card;

  .Question {
    display: flex;
    justify-content: space-between;

    strong {
      color: $cascade;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }
  }

  small {
    min-width: fit-content;
    padding-left: 10px;
    color: $cascade;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: $tablet-width) {
  .ActiveQuiz {
    font-size: 2.5vw;
    padding: 10px 15px;
  }
}