@import "../../style/style.scss";
.Layout {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient($aqua, $blue);

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}